{% extends 'base.html.twig' %}

{% block title %}CarFleet{% endblock %}

{% block body %}
    <h1>CarFleet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ car_fleet.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ car_fleet.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('car_fleet_index') }}">back to list</a>

    <a href="{{ path('car_fleet_edit', {'id': car_fleet.id}) }}">edit</a>

    {{ include('car_fleet/_delete_form.html.twig') }}
{% endblock %}
