<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            
        {% endblock %}
    </head>
    <body>
    {% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Loca-auto</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     {% if app.user %}
        <div class="fw-5">
            Bonjour et bienvenue {{ app.user.firstname ~' ' ~ app.user.lastname }}
        </div>
    {% endif %}
    <div class=" navbar-collapse collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-link active" aria-current="page" href="#">Accueil</a>
        {% if app.user %}
        <a class="nav-link" href="{{ path('app_logout') }}">Deconnexion</a>
        {% else %}
        <a class="nav-link" href="{{path("app_login")}}">Connexion</a>
        <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
    {% endblock %}
        {% block body %}
        
        {% endblock %}
              {% block scripts %}
        
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        {% endblock %}
    </body>
</html>
