{% extends 'base.html.twig' %}


{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="input-field col-6 offset-3 mt-3 mb-3">
            Tu es actuellement connecté en tant que {{ app.user.firstname ~' ' ~ app.user.lastname }}, <a href="{{ path('app_logout') }}">Deconnecte-toi</a>
        </div>
    {% endif %}
    <div class=" card container mt-5">
    <h3 class="h3 b-3 text-center font-weight-normal mt-5">Connectez-vous s'il vous plait</h3>
    <div class="input-field col-5 offset-3 mt-3 mb-3">
    <label for="inputEmail">Adresse electronique </label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    </div>
    <div class="input-field col-5 offset-3 mt-3 mb-3">
    <label for="inputPassword">Mot de passe </label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    <div class="input-field col-6 offset-3 mt-3 mb-3">
    <button class="btn btn-primary mr-4" type="submit">
        Me connecter
    </button>
     <a class="btn btn-warning ml-4" href="{{'register'}}"type="submit">
       M'inscrire
    </a>
    </div>
</form>
</div>
{% endblock %}
